{% extends "base.html" %}

{% block content %}
<style>
  h3 {
    color: #ccc;
    font-size: 50px;
    padding-bottom: 60px;
    padding-top: 60px
  }
</style>
<h3>Messages will be there, {{ user.name }}</h3>
<div style="padding-top: 60px" class="message_holder"></div>
<form action="" method="POST">
   <c id="name">{{ user.name }}</c>
  <input type="text" class="message" placeholder="ONLY IN ENGLISH"/>
  <input type="submit" value="Send"/>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
    socket.emit( 'event', {
      data: 'User Connected'
    } )
    var form = $( 'form' ).on( 'submit', function( e ) {
      e.preventDefault()
      let name = $( '#name' ).text()
      let user_input = $( 'input.message' ).val()
      socket.emit( 'event', {
        user_name : name,
        message : user_input
      } )
      $( 'input.message' ).val( '' ).focus()
    } )
    } )
    socket.on( 'response', function( msg ) {
    console.log( msg )
    if( typeof msg.user_name !== 'undefined' ) {
      $( 'h3' ).remove()
      $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name +'</b> '+msg.message+'</div>' )
    }
    })
</script>
{% endblock %}